@import "../../../style/variables.scss";

.wrapper {
  margin: 20px 20px 5px 20px;
  padding: 20px 30px;
  align-self: flex-start;
  width: 100%;
  background-color: $colorGrey;
}

.title {
  text-align: left;
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
};
.genCont{
  margin-bottom: 10px;
};

.settingsCont{
  display: flex;
  flex-flow: column;
};
