@import './../../style/variables.scss';

.box {
  margin: 20px;
  width: 100%;
  margin-bottom: auto;
}
div.container {
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .title {
    margin: 0;
    padding: 0;
  }
}

.grid {
  display: flex;
  .card {
    margin-right: 20px;
  }
}
span.editIcon {
  fill: #c1c1c1;
  svg {
    $size: 20px;
    width: $size;
    height: $size;
  }
}
button.delBtn {
  background: none;
  border: none;
  color: #bdbdbd;
  &:disabled,
  &:focus,
  &:hover {
    background: none;
    border: none;
    color: $colorAccent;
  }

  &:disabled {
    color: #999999;
  }
}

.btnAdd {
  padding: 0 30px;
  width: initial;
  background-color: $colorAccent;
  border-radius: 60px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:hover {
    background-color: darken($colorAccent, 15);
    color: #ffffff;
  }
}
