// Color
$colorPrimary: #0c26ef;
$colorSecondary: #161e5c;
$colorAccent: #01f404;
$colorRed: #E41C39;
$colorGrey: #515151;
$colorLightGrey: #7e7e7e;
$colorDarkGrey: #5F5F5F;
// Font
$fontWorkSans: "Work Sans", sans-serif;