.footer {
  grid-area: footer;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.right,
.copyright {
  margin: 0;
  width: 220px;
}
