.container{
  z-index: 990;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0%;
  left:0%;
  background-color: rgba(0,0,0,0.2);
  overflow: hidden;
};
.panelCont{
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
};
.panel{
  width: 450px;
  border: 1px solid #01cb03;
  background: #5F5F5F;
  border-radius: 5px;
  display: flex;
  flex-flow: column ;
}
.imgCont{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
};
.btnsCont{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
};
.btn{
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
  width: 250px;
  background: #01cb03;
  color: #5F5F5F;
  border: none;
  outline: none;
   &:hover{
     color: #f1f1f1;
     transition: ease-in-out .4s;
   }
};
.datePicker{
  border-radius: 26px;
  width: 250px!important;
  background: transparent!important;
  &:hover{
    border: 1px solid #01cb03!important;
  }
};
