@import './../../style/variables.scss';
// .container{
//   display: flex;
//   flex-flow: column wrap;
//   height: 100%;
//   width: 100%;
//   padding: 30px;
// };
// .row{
//   background-color: #5f5f5f;
// };


.box {
  margin: 20px;
  width: 100%;
  margin-bottom: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .title {
    margin: 0;
    padding: 0;
  }
  .btnAdd {
    padding: 0 30px;
    width: initial;
    background-color: $colorAccent;
    border-radius: 60px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:hover {
      background-color: darken($colorAccent, 15);
      color: #ffffff;
    }
  }
}

div.container {
  border-radius: 6px;
  padding: 20px;
}

.titleTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  :global {
    h2 {
      padding: 0;
      line-height: 1;
      margin: 0;
    }
    button.ant-btn-bns {
      width: initial;
      padding-right: 40px;
      padding-left: 40px;
      margin-right: 20px;
    }
  }
}
